<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<script type="text/javascript" th:fragment="util">
	
	$(function () {
		  $('[data-toggle="tooltip"]').tooltip();
// 		  alert(1);
		  $('#user-table-list').DataTable();
		})
	
	var itemsHelper = {
		isAdmin: function(ischeck)
		{// admin  power
			if(ischeck)
				document.getElementById("checkpower").checked = true;
		},

		isPower: function(ischeck)
		{// admin  power
			if(!ischeck)
				document.getElementById("checkadmin").checked = false;
				
		},
				
	};
	</script>
</body>
</html>


<!-- $(document).ready(function () { -->
<!-- 		$("#find_item").autocomplete({ -->
		
<!-- 			source : function(request, response) { -->
<!-- 				$.ajax({ -->
<!-- 					url : "/procedure/load-products/" + request.term, -->
<!-- 					dataType : "json", -->
<!-- 					data : { term : request.term }, -->
<!-- 					success : function(data) { -->
<!-- 						response($.map(data, function(item) { -->
<!-- 							return { -->
<!-- 								value : item.id, -->
<!-- 								label : item.name, -->
<!-- 								hasAmount: item.hasAmount, -->
<!-- 							}; -->
<!-- 						})); -->
<!-- 					}, -->
<!-- 				}); -->
<!-- 			}, -->
		
<!-- 			select : function(event, ui) { -->
<!-- 				if (itemsHelper.hasProduct(ui.item.value)){  // hasProduct   -->
<!-- 					itemsHelper.incAmount(ui.item.value, ui.item.hasAmount);  // incAmount  -->
<!-- 					return false; -->
<!-- 				} -->
			
<!-- 				var line = $("#procedureItemsLayout").html();  //#orderItemsLayout         -->
<!-- 				line = line.replace(/{ID}/g, ui.item.value); -->
<!-- 				line = line.replace(/{NAME}/g, ui.item.label); -->
				
<!-- 				$("#loadProcedureItems tbody").append(line); //#loadProductItems -->
<!-- 				return false;  -->
<!-- 			} -->
<!-- 		}); -->

<!-- 			$("input[type=file]").on('change', function() {   // esto es para que muestre el camino de la imagen en el edit -->
<!-- 			    var fileName = $(this).val().split("\\").pop(); -->
<!-- 			    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);         -->
<!-- 			}) -->

		
<!-- 		$("form").submit(function(){ -->
<!-- 			$("#procedureItemsLayout").remove(); -->
<!-- 			return; -->
<!-- 		}) -->

<!-- 	}); -->