<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div th:text="${tittle}" class="card-header text-white font-weight-bold"  style="background-color:#0F3678"
				 align="center"></div>
			<div class="card-body">
				<table class="table table-striped"> 
					<thead align="center">
						<tr>
							<th hidden="true" scope="col">ID</th>
							<th th:text="'DNI'" scope="col"></th>
							<th th:text="'Name'" scope="col"></th>
							<th th:text="'Surname'" scope="col"></th>
							<th th:text="'Email'" scope="col"></th>
							<th th:text="'Mobile number'" scope="col"></th>
							<th th:text="'Subscription date'" scope="col"></th>
							<th th:text="'Edit'" scope="col"></th>
							<th th:text="'Delete'" scope="col"></th>
							<th th:text="'Begin'" scope="col"></th>
							<th th:text="'Details'" scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cl: ${clients_list}">
							<th hidden="true" scope="row" th:text="${cl.id}"></th>
							<td th:text="${cl.dni}"></td>
							<td th:text="${cl.name}"></td>
							<td th:text="${cl.surname}"></td>
							<td th:text="${cl.mobile}"></td>
							<td th:text="${cl.email}"></td>
							<td th:text="${cl.createAt}" align="center"></td>
							
							<!-- Editar usuario -->
							<td align="center">
								<a th:href="@{/clients/form/} + ${cl.id}"> 
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 16" width="14" height="16"> 
										<path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 011.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z"></path>
									</svg>
								</a>
							</td>
							
							<!-- Eliminar usuario -->
							<td align="center">
								<a th:href="@{/clients/delete/} + ${cl.id}" 
								   onclick="return confirm('Desea eliminar??');">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" width="12" height="16">
										<path fill-rule="evenodd" d="M11 2H9c0-.55-.45-1-1-1H5c-.55 0-1 .45-1 1H2c-.55 0-1 .45-1 1v1c0 .55.45 1 1 1v9c0 .55.45 1 1 1h7c.55 0 1-.45 1-1V5c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm-1 12H3V5h1v8h1V5h1v8h1V5h1v8h1V5h1v9zm1-10H2V3h9v1z"></path>
									</svg>
								</a>
							</td>
							 
							<!-- Iniciar proceso   -->
							<td align="center">
								<a th:href="@{/r1/} + ${cl.id}"> 
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
										<path fill-rule="evenodd" d="M0 3.75C0 2.784.784 2 1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0114.25 14H1.75A1.75 1.75 0 010 12.25v-8.5zm1.75-.25a.25.25 0 00-.25.25v8.5c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25v-8.5a.25.25 0 00-.25-.25H1.75zM3.5 6.25a.75.75 0 01.75-.75h7a.75.75 0 010 1.5h-7a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5h4a.75.75 0 000-1.5h-4z"></path>
									</svg>
								</a>
							</td>
							
							<!-- Detalles CLIENTE -->
							<td align="center">
								<a th:href="@{/clients/view/} + ${cl.id}"> 
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
										<path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0013 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 000-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"></path>
									</svg>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="layout/paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>