<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
	   <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
<head th:replace="layout/layout-client :: head"></head>
<body>
	<header th:replace="layout/layout-client :: header"></header>
	<div class="container mb-4" style="margin-top: 5rem">
		<div class="card bg-white border-305">
			<div th:text="${tittle}" class="card-header py-2 border-305 text-white font-weight-bold"  style="background-color:#101F3A" align="center"></div>
			<div class="card-body">
				<div class="col" align="right">
					<a th:href="@{/promo/form}" data-toggle="tooltip" data-placement="left" title="New deals" 
					   class="a a-305 fas fa-gifts fa-2x"> 
					</a>
				</div>
				<p></p>
				<table class="table table-striped hover display compact" id="client-table-list"> 
					<thead align="center">
						<tr>
							<th hidden="true" scope="col">ID</th>
							<th hidden="true" th:text="'DNI'" scope="col"></th>
							<th th:text="'Name'" scope="col"></th>
							<th th:text="'Surname'" scope="col"></th>
							<th th:text="'Mobile'" scope="col"></th>
							<th th:text="'Email'" scope="col"></th>
							<th th:text="'Subscription date'" scope="col"></th>
							<th th:text="'Edit'" scope="col"></th>
							<th th:text="'Delete'" scope="col"></th>
							<th th:text="'Begin'" scope="col"></th>
							<th th:text="'Details'" scope="col"></th>
						</tr>
					</thead>
					<tbody>
<!-- 						<tr th:each="cl: ${clients_list}"> -->
<!-- 							<th hidden="true" scope="row" th:text="${cl?.id}"></th> -->
<!-- 							<td hidden="true" th:text="${cl?.dni}" align="right"></td> -->
<!-- 							<td th:text="${cl?.name}"></td> -->
<!-- 							<td th:text="${cl?.surname}"></td> -->
<!-- 							<td th:text="${cl?.mobile}" align="right"></td> -->
<!-- 							<td th:text="${cl?.email}" align="center"></td> -->
<!-- 							<td th:text="${cl?.createAt}" align="center"></td> -->
							
<!-- 							Editar usuario -->
<!-- 							<td align="center"> -->
<!-- 								<a th:href="@{/clients/form/} + ${cl.id}" class="btn fas fa-pencil-alt"></a> -->
<!-- 							</td> -->
							
<!-- 							Eliminar usuario -->
<!-- 							<td align="center"> -->
<!-- 								<a th:href="@{/clients/delete/} + ${cl.id}"  -->
<!-- 								   onclick="return confirm('Do you want to delete the client?');" class="btn fas fa-eraser"> -->
<!-- 								</a> -->
<!-- 							</td> -->
							 
<!-- 							Iniciar proceso   -->
<!-- 							<td align="center"> -->
<!-- 								<a th:href="@{/r1/} + ${cl.id}" class="btn fas fa-calendar-week"> -->
<!-- 								</a> -->
<!-- 							</td> -->
							
<!-- 							Detalles CLIENTE -->
<!-- 							<td align="center"> -->
<!-- 								<a th:href="@{/clients/view/} + ${cl.id}" class="btn fas fa-search">  -->
<!-- 								</a> -->
<!-- 							</td> -->
<!-- 						</tr> -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout-client :: footer"></footer>
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script th:replace="promo/js/promo-js.html :: promoUtils"></script>
</body>
</html>