h1.color-rojo {
	color: red ;
}

h2.color-azul {
	color: blue ;
}

.newspaper1 {
  columns: auto 3;
}

.newspaper2 {
  columns: auto 3;
}

i.l {
    /* flip vertically */
    transform: rotateX(180deg);
}

btn.btn-outline-damny:hover {
	background-color: #007da7; 
}
