<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<script type="text/javascript" th:fragment="utils">
	
	$(function () {
		  $('[data-toggle="tooltip"]').tooltip();
		  $('[data-toggle="popover"]').popover();
		})
	
	$('.popover-dismiss').popover({
  		trigger: 'focus'
	})	
		
	$(document).ready( function () {
	       $("#find_procedure").autocomplete({ //parseInt($(idDoctor).html())
			
			source : function(request, response) {
				
				$.ajax({
					url : "/doctor/load-procedure/" + parseInt($(idDoctor).html()) + "/" + request.term, 
					dataType : "json",
					data : { term : request.term },
					success : function(data) {
						response($.map(data, function(item) {
							return {
								value : item.id,
								label : item.name,
							};
						}));
					},
				});
			},
		
			select : function(event, ui) {
//				var line = $("#procedureItemsLayout").html();  //#orderItemsLayout
				$("#choosedP").html(ui.item.label);
				$("#procID").val(ui.item.value);
				$("#find_procedure").val(ui.item.label);
				
				return false; 
			}
		});
	       
	       $("#find_condition").autocomplete({ //parseInt($(idDoctor).html())
				
				source : function(request, response) {
					
					$.ajax({
						url : "/doctor/load-condition/" + parseInt($(idDoctor).html()) + "/" + request.term, 
						dataType : "json",
						data : { term : request.term },
						success : function(data) {
							response($.map(data, function(item) {
								return {
									value : item.id,
									label : item.name,
								};
							}));
						},
					});
				},
			
				select : function(event, ui) {
//					var line = $("#procedureItemsLayout").html();  //#orderItemsLayout
					$("#choosedC").html(ui.item.label);
					$("#condID").val(ui.item.value);
					
					$("#find_condition").val(ui.item.label);
					
					return false; 
				},
				
				
			});
	    
	       $("#find_procedure_for_combo").autocomplete({ //parseInt($(idDoctor).html())
				
				source : function(request, response) {
					
					$.ajax({
						url : "/doctor/load-procedure1/" + parseInt($(idDoctor).html()) + "/" + request.term, 
						dataType : "json",
						data : { term : request.term },
						success : function(data) {
							response($.map(data, function(item) {
								return {
									value : item.id,
									label : item.name,
								};
							}));
						},
					});
				},
			
				select : function(event, ui) {
 					var href = $("#choosedP1").attr('href');
					$("#choosedP1").html("View availables combos for " + ui.item.label);
					$("#choosedP1").attr('href', href+ui.item.value);
					$("#procForComboID").val(ui.item.value);
					
					$("#find_procedure_for_combo").val("");
					
					return false; 
				}
			});
	       
		    $('#doctor-table-list').DataTable();

		    
		    $('#combo-table-list').DataTable( {
		        responsive: true
		    } );
		    
		    
// 		    $('#combo-table-list').DataTable({
// 			    responsive: true
// 		    });
		    
		    $('#doctor-quota-table').DataTable();
		    
		    
		    $('#calendar').evoCalendar({
		        settingName: settingValue
		    });
		    
	    
	});

/*	$('#modalDelete').on('show.bs.modal', function (event) {
		  var button = $(event.relatedTarget) // Button that triggered the modal
		  var id = button.data('id') // Extract info from data-* attributes
		  var name = button.data('name') // Extract info from data-* attributes
		  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		  var modal = $(this)
		  var href = $('#remove').attr('href');
		  modal.find('.modal-title').text('Remove doctor ' + name + '?');
		  modal.find('.modal-body span').text('Do you want to remove Dr. ' + name + ' from the system? This operation is irreversible.')
		  $('#remove').attr('href', href+id);
		});*/
		
		var itemsHelper = {
				activeAmount: function(ischeck){
					if(ischeck){
						document.getElementById("minBMI").disabled = false;
						document.getElementById("maxBMI").disabled = false;
						document.getElementById("minWeight").disabled = true;
						document.getElementById("maxWeight").disabled = true;
					}
					else {
						document.getElementById("minBMI").disabled = true;
						document.getElementById("maxBMI").disabled = true;
						document.getElementById("minWeight").disabled = false;
						document.getElementById("maxWeight").disabled = false;
					}
				},
	}
		
	</script>
</body>
</html>