<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<table th:fragment="orderItems" class="d-none">
		<tbody id="orderItemsLayout"> 
			<tr id="row_{ID}">
				<td class="d-none">
					<input type="hidden" 
					   	   value="{ID}"
						   name="item_id_c[]" /> <!-- ID para guardar -->
				</td>
				<td class="align-middle">{NAME}</td>  
				<td align="center" class="align-middle">{PRICE}</td>
				<td align="center" class="align-middle">{INOFERR}</td>
				<td class="align-middle">   <!-- Cantidad -->                   
					<input type="number" 
						   value="1" 
						   name="amount_c[]"  
						   id="amount_{ID}"  
						   onchange="itemsHelper.getSubtotal({ID}, {PRICE}, this.value);"
					 	   class="form-control" min="0" />  <!-- Cantidad para guardar -->
				</td>
				<td align="center" class="align-middle">
					<span   id="subtotal_{ID}" >0</span>
				</td>
				<td class="align-middle" align="center">
					<a href="#" 
					   class="btn btn-xs" 
					   onclick="itemsHelper.deleteLine({ID});">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" width="12" height="16">
							<path fill-rule="evenodd" d="M11 2H9c0-.55-.45-1-1-1H5c-.55 0-1 .45-1 1H2c-.55 0-1 .45-1 1v1c0 .55.45 1 1 1v9c0 .55.45 1 1 1h7c.55 0 1-.45 1-1V5c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm-1 12H3V5h1v8h1V5h1v8h1V5h1v8h1V5h1v9zm1-10H2V3h9v1z"></path>
						</svg>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>