<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-client :: head"></head>
<body style="font-size: 15px">
	<header th:replace="layout/layout-client :: header"></header>
	<div class="container py-1">
		<div class="row px-4 py-2">
		<div class="col">
           <div class="card bg-white ">
           	  <!-- Nombre del Paciente -->
              <div th:text="${orderClientHeader}" class="card-header text-white font-weight-bold" style="background-color: #0F3678" align="center"></div>
              <div class="card-body border border-dark">
                 <div class="row">
                    <div class="col-5">  <!-- Datos de la cirugía -->
                    	<div class="row">
                    		<div class="col">
		                       <div class="card bg-white">
		                          <div th:text="${opDecision}" class="card-header text-white font-weight-bold" style="background-color: #0F3678" align="center"></div>
		                          <div class="card-body border border-dark rounded-bottom border-top-0">
		                              <ul class="list-group">  <!-- Todo esto se saca de la orden -->
		                                 <li class="list-group-item list-group-item">
		                                    <span th:text="'Doctor: '" class="font-weight-bold"></span> 
		                                    <span th:text="${order.doctorName}"></span>
		                                 </li>
		                                 <li class="list-group-item">
		                                    <div class="row px-3 font-weight-bold" th:text="'Procedure(s)'"></div> 
		                                 	<div th:each="procedureData: ${order.procedureList}" class="row px-4">
			                                    <span th:text="${procedureData.procedure.name}"></span> &nbsp;
			                                    <span th:text="'($' + ${procedureData.subTotal} + ')'" style="font-style: italic;"></span>
		                                 	</div>
		                                 </li>
		                                 <li class="list-group-item">
		                                    <span th:text="'Desired surgery date: '" class="font-weight-bold"></span>
		                                    <span th:text="${order.dateSurgery}"></span></li>
		                              </ul>
		                          </div>
		                       </div>
                       		</div>
                        </div>
                        <div class="row mt-1">
                        	<div class="col">
				            	<div class="card-body border border-warning rounded"><!-- Observaciones-->
				                	<span th:text="'Observation: '" class="font-weight-bold"></span> 
				                    <span th:text="${order.observation}"></span>
				                 </div>
                        	</div>
                        </div>
                    </div>   
                    <div class="col-7">    <!-- Datos item comprados-->
                        <div class="card bg-white">
                           <div th:text="${itemsheader}" class="card-header text-white font-weight-bold" style="background-color: #0F3678" align="center"></div>
                           <div class="card-body border border-dark rounded-bottom border-top-0">
                           		<table th:if="${not #lists.isEmpty(order.itemList)}" class="table table-striped table-hover">
                                	<thead align="center" >
                                    	<tr>
	                                    	<th scope="col">Item</th>
        	                                <th scope="col">Amount</th>
            	                            <th scope="col">Subtotal</th>
                	                    </tr>
                    	            </thead>
                       	            <tbody>
                            	    	<tr th:each="line: ${order.itemList}">
                                	    	<td th:text="${line.product.name}"></td>
                                        	<td th:text="${line.amount}" align="center"></td>
                                            <td th:text="'$' + ${line.subTotal}" align="center"></td>
                                       	</tr>
	                                </tbody>
    	                        </table>
                           </div>
                        </div>
                     </div>          
                 </div>
                 <div class="row"> <!-- Precio total -->
				 	<div class="col">
                    	<h5 align="right">Total order: <span th:text="'$ ' + ${order.totalOrder}" class="badge badge-success">0</span></h5>
                    </div>
                 </div>
                 <div class="row my-1">
	                 <div class="col-6" align="left">                                 
    	             	<a th:href="@{/clients/form/}" th:text="'Add other surgery'" class="btn btn-lg btn-block btn-305"></a>
        	         </div>
            	     <div class="col-6" align="right">                                
                	 	<a th:href="@{/orders/view-order/} + ${order.id}" th:text="'View pre-order'" class="btn btn-lg btn-block btn-305"></a>
                 	</div>
                 </div>
              </div> 
           </div>
		</div>
		</div>
    </div>
	<footer th:replace="layout/layout-client :: footer"></footer>
</body>
</html>