<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="row py-4 px-4">   <!-- Contenedor -->
		<div class="col">     <!-- para todo el ancho -->
			<div class="card bg-white">
				<div th:text="${orderClientHeader}" class="card-header text-white font-weight-bold" style="background-color: #0F3678" align="center"></div>
				<div class="card-body">
					<div class="row" align="right">
						<h4 align="right" class="card-tittle"> 
							<a class="btn btn-xs float-right mx-auto" th:href="@{'/r1/' + ${client.id}(format=pdf)}"> 
								<img align="right" th:src="@{/imgs/pdf.png}" alt="pdf-view">
							</a>
						</h4>
					</div>	
					<div class="row"> <!-- Datos personales cliente -->
						<div class="col-12"> 
							<div class="card bg-white">
								<div th:text="${personalDataHeader}" class="card-header text-white font-weight-bold" style="background-color: #0F3678" align="center"></div>
								<div class="card-body border border-dark rounded-bottom border-top-0">
									<div class="row">
										<div class="col-6">
											<ul class="list-group">
												<li class="list-group-item">
													<span th:text="'DNI: '" class="font-weight-bold"></span> 
													<span th:text="${client.dni}"></span>
												</li>
												<li class="list-group-item list-group-item-dark">
													<span th:text="'Full name: '" class="font-weight-bold"></span> 
													<span th:text="${client.name} + ' ' + ${client.surname}"></span>
												</li>
												<li class="list-group-item">
													<span th:text="'Gender: '" class="font-weight-bold"></span> 
													<span th:text="${client.gender}"></span>
												</li>
											</ul>
										</div>
										<div class="col-6">
											<ul class="list-group">
												<li class="list-group-item">
													<span th:text="'Age: '" class="font-weight-bold"></span> 
													<span th:text="${client.age}"></span>
												</li>
												<li class="list-group-item">
													<span th:text="'Mobile phone number: '" class="font-weight-bold"></span>
													<span th:text="${client.mobile}"></span>
												</li>
												<li class="list-group-item">
													<span th:text="'Email: '" class="font-weight-bold"></span> 
													<span th:text="${client.email}"></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row py-2">   <!-- Datos condición de salud y decisiones-->
						<div class="col-6">   
							<div class="row">
								<div class="col-12">
									<div class="card bg-white">
										<div th:text="${healthConditionHeader}" class="card-header text-white font-weight-bold" style="background-color: #0F3678" align="center"></div>
										<div class="card-body border border-dark rounded-bottom border-top-0">
												<ul class="list-group">
													<li class="list-group-item">
														<span th:text="'Weight: '" class="font-weight-bold"></span> 
														<span th:text="${client.weight}"></span>
													</li>
													<li class="list-group-item">
														<span th:text="'Height: '" class="font-weight-bold"></span> 
														<span th:text="${client.heightFeetOrCentimeters}"></span> 
														<span th:if="${client.heightInches}" th:text="'.' + ${client.heightInches} + '\'\''"></span>
													</li>
													<li class="list-group-item">
														<span th:text="'Hemoglobin: '" class="font-weight-bold"></span> 
														<span th:text="${client.hbg}"></span>
													</li>
													<li class="list-group-item list-group-item-dark">
														<span th:text="'Conditions: '" class="font-weight-bold"></span> 
														<span th:text="${conditionList}"></span>
													</li>
												</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-6"> 	
							<div class="row">    <!-- Datos de los elegido para la operacion -->
								<div class="col-12">
									<div class="card bg-white">
										<div th:text="${opDecision}" class="card-header text-white font-weight-bold" style="background-color: #0F3678" align="center"></div>
										<div class="card-body border border-dark rounded-bottom border-top-0">
											<ul class="list-group">
												<li class="list-group-item list-group-item-dark">
													<span th:text="'Doctor: '" class="font-weight-bold"></span> 
													<span th:text="${doctor}"></span>
												</li>
												<li class="list-group-item">
													<span th:text="'Principal procedure: '" class="font-weight-bold"></span>
													<span th:text="${p1}"></span>
												</li>
												<li th:if="${combo}" class="list-group-item">
													<span th:text="'Combo with: '" class="font-weight-bold"></span>
													<span th:text="${combo}"></span>
												</li>
												<li class="list-group-item">
												<span th:text="'Desired operation date: '" class="font-weight-bold"></span>
												 <span th:text="${client.date}"></span></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> 
					<div class="row"> <!-- Datos orden -->
						<div class="col-12"> 
							<div class="card bg-white">
								<div th:text="${tittle}" class="card-header text-white font-weight-bold" style="background-color: #0F3678" align="center"></div>
								<div class="card-body border border-dark rounded-bottom border-top-0">
									<div class="row"> 
										<div class="col-4">  <!-- Datos Generales orden-->
											<ul class="list-group">
												<li class="list-group-item">
													<span th:text="'Date: '" class="font-weight-bold"></span> 
													<span th:text="${order.date}"></span>
												</li>
												<li class="list-group-item">
													<span th:text="'Observation: '" class="font-weight-bold"></span> 
													<span th:text="${order.observation}"></span>
												</li>
												<li class="list-group-item">
													<span th:text="'Gender: '" class="font-weight-bold"></span> 
													<span th:text="${client.gender}"></span>
												</li>
											</ul>
										</div>
										<div class="col-4">    <!-- Datos item comprados-->
											<ul class="list-group">
												<li class="list-group-item list-group-item-dark text-center">  <!-- Datos incluidos-->
													<span th:text="'Mandatory and/or selected items'" class="font-weight-bold"></span> 
												</li>
												<li class="list-group-item">
													<table th:if="${not #lists.isEmpty(order.itemList)}"
					   									   class="table table-striped table-bordered table-hover my-2">
			    										<thead align="center" class="thead-dark">
															<tr>
																<th scope="col">Item</th>
																<th scope="col">Price</th>
																<th scope="col">Amount</th>
																<th scope="col">Subtotal</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="line: ${order.itemList}">
																<td th:text="${line.product.name}"></td>
																<td th:text="${line.product.price}" align="right"></td>
																<td th:text="${line.amount}" align="center"></td>
								 								<td th:text="${line.subTotal}" align="center"></td>
															</tr>
														</tbody>
													</table>
												</li>
											</ul>
										</div>
										<div class="col-4">
											<ul class="list-group">
												<li class="list-group-item list-group-item-dark text-center">  <!-- Datos incluidos-->
													<span th:text="Included" class="font-weight-bold"></span> 
												</li>
												<li th:each="i: ${included}"  class="list-group-item">
													<span th:text="${i}"></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>