<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<script type="text/javascript" th:fragment="utils">
	
	$(function () {
		  $('[data-toggle="tooltip"]').tooltip();
		  $('[data-toggle="popover"]').popover();
		})
	
	$('.popover-dismiss').popover({
  		trigger: 'focus'
	})	
		
	$(document).ready( function () {
	       $("#find_procedure").autocomplete({ //parseInt($(idDoctor).html())
			
			source : function(request, response) {
				
				$.ajax({
					url : "/doctor/load-procedure/" + parseInt($(idDoctor).html()) + "/" + request.term, 
					dataType : "json",
					data : { term : request.term },
					success : function(data) {
						response($.map(data, function(item) {
							return {
								value : item.id,
								label : item.name,
							};
						}));
					},
				});
			},
		
			select : function(event, ui) {
//				var line = $("#procedureItemsLayout").html();  //#orderItemsLayout
				$("#choosedP").html(ui.item.label);
//				$("#find_procedure").html(ui.item.label);
				
//				line = line.replace(/{ID}/g, ui.item.value);
//				line = line.replace(/{NAME}/g, ui.item.label);
				
//				$("#loadProcedureItems tbody").append(line); //#loadProductItems
				return false; 
			}
		});
	    
	    
		    $('#doctor-table-list').DataTable();
	    
	    
	} );

/*	$('#modalDelete').on('show.bs.modal', function (event) {
		  var button = $(event.relatedTarget) // Button that triggered the modal
		  var id = button.data('id') // Extract info from data-* attributes
		  var name = button.data('name') // Extract info from data-* attributes
		  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		  var modal = $(this)
		  var href = $('#remove').attr('href');
		  modal.find('.modal-title').text('Remove doctor ' + name + '?');
		  modal.find('.modal-body span').text('Do you want to remove Dr. ' + name + ' from the system? This operation is irreversible.')
		  $('#remove').attr('href', href+id);
		});*/
		
	</script>
</body>
</html>