<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-doctor :: head">
</head>
<body>
	<header th:replace="layout/layout-doctor :: header"></header>
	<div class="container" style="margin-top: 5rem" align="center">
		<div class="row">
			<div class="col-3"> <!-- GroupBox de las elecciones -->
				<div class="row">
					<div class="col">
						<ul class="list-group border-success"> <!--  -->
							<li th:text="'Conditions that surgeon ' + ${doctor.name} + ' accepts'" 
								class="list-group-item py-1 list-group-item-success card-bordergreen-diferent text-center font-weight-bold"></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<ul class="list-group border-success listWrapper"> <!--  -->
							<li th:each="suffering: ${doctor.sufferingsList}" th:text="${suffering.suffering.name}" 
					            class="list-group-item py-1 text-left card-bordergreen-diferent" style="font-size: 14px"></li>
						</ul>
					</div>
				</div>
		 	</div> 
			<div class="col-9">
				<div class="card bg-white border-305" style="width: 100%;">
					<div class="card-header border-305 py-2  font-weight-bold text-white" th:text="${msg} + ${doctor.name}" align="center" style="background-color:#101F3A"></div>
					<div class="card-body " align="left">
            
						<form id="addcondition" th:action="@{/doctor/add-condition}" method="post" th:object="${doctor}"> <!-- th:object="${sufferingByDoct}"  -->
    	                	<span hidden="true" th:id="idDoctor" th:text="${doctor.id}" class="form-control"> </span>
        	            
							<div class="container newspaper1">
						      <div th:each="s,state : ${suffering}" class="row">
							     <div class=""> 
								    <input type="checkbox" th:field="*{sufferingsListPre}" th:value="${s.id}" th:checked="${#lists.contains(doctor.sufferingsListPre, s)}"> 
								 </div>
								 <div class="mx-2"> 
								    <label th:for="${#ids.prev('sufferingsListPre')}" th:text="${s.name}"></label>
						 		 </div>
						      </div>
						   </div>
					<!--  SUBMIT   -->
							<div class="row">
		  						<div class="col mt-3" align="right">  
	  								<input type="submit" th:value="${bSave}" class="btn btn-block btn-305"/>
	  							</div>
	  						</div> 
							<div class="row mt-4">
								<div class="col-3">
									<a th:href="@{/doctor/add-procedure/} + ${doctor.id}" th:text="${bAddProcedure}" class="btn btn-block btn-secondary"></a>	
								</div>
								<div class="col-3">
									<a th:href="@{/doctor/add-combo/} + ${doctor.id}" th:text="${bAddCombo}" class="btn  btn-block btn-secondary"></a>	
								</div>
								<div class="col-6">
									<a th:href="@{/doctor/admin-condition/} + ${doctor.id}" th:text="${bContinue}" class="btn  btn-block btn-dark"></a>		
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout-doctor :: footer"></footer>
    <script th:replace="doctor/js/utils-js.html :: utils"></script>
    <script th:replace="js/twoForm :: javascript2Form"></script>
</body>
</html>