<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-doctor :: head"></head>
<body>
	<header th:replace="layout/layout-doctor :: header"></header>
	<div class="container" style="margin-top: 5rem" align="center">
		<div th:if="${#lists.isEmpty(doctor.procList)}" 
               		 class="alert alert-dismissible fade show border-danger my-1" align="center" role="alert" 
               		 style="background-color:#FFFFFF; border-width: 2px; border-color: #00FF00">
        	<span th:text="'The surgeon &quot' + ${doctor.name} + '&quot has no procedures registered. Please add at least two procedures to be able to add a combo.'" 
                  style="color: #101F3A; font-weight: bold; "></span>
            <button type="button" class="close" style="color:#101F3A" data-dismiss="alert" aria-label="Close">
           		<span aria-hidden="true">&times;</span>
            </button>
        </div>
		<div class="row">
			<div class="col-3"> <!-- GroupBox de las elecciones -->
				<div class="row">
					<div class="col">
						<ul class="list-group border-success"> <!--  -->
							<li th:text="'Combos of ' + ${doctor.name}" 
							    class="list-group-item py-1 list-group-item-success card-bordergreen-diferent text-center font-weight-bold"></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<ul class="list-group border-success listWrapper"> <!--  -->
							<li th:each="combo: ${linkedCombos}" th:text="${combo.procedureList.get(0).procedure.name} +' / '+ ${combo.procedureList.get(1).procedure.name}" 
								class="list-group-item text-left card-bordergreen-diferent py-1" style="font-size: 14px"></li>
						</ul>
					</div>
				</div>
		 	</div> 
			<div class="col-9">
				<div class="card bg-white border-305" >
					<div class="card-header border-305 py-2 font-weight-bold text-white" th:text="${msg} + ${doctor.name}" align="center" style="background-color:#101F3A"></div>
					<div class="card-body " align="left">
        	    
						<form id="addcombo" th:object="${doctor}" th:action="@{/doctor/add-combo}" method="post">
    		                <span hidden="true" th:id="idDoctor" th:text="${doctor.id}" class="form-control"> </span>
                    
							<div class="form-group row">
								<div class="col-6" align="center">
									<a th:id="choosedP1" th:text="'Select first procedure and continue'" class="btn  btn-block btn-305"
									   th:href="@{/doctor/add-combo/} + ${doctor.id} + '/'"></a>	
	            		            <input hidden="true" th:id="procForComboID" type="text" value="" name="procForComboID" class="form-control" />
								</div>
								<div class="input-group mb-1 col-6">
									<div class="input-group-prepend">
										<span class="input-group-text">First procedure</span>
									</div> 
									<input type="text" name="find_procedure_for_combo" id="find_procedure_for_combo" class="form-control" />
								</div>
							</div>
							<div th:if="${unlinkedCombos}" class="row py-2 mx-2" 
								style="background-color: #D7DADD; border-color: #101F3A; border-style: solid; border-width: 1px">
								<div class="col">
									<div class="row">
										<div class="col">
											<h6  style="text-decoration: underline;" th:text="'Available combos for ' +  ${p1}"></h6>
										</div>
									</div>
									<div class="row pt-2">
										<div class="col">
											<div  class="container combos">
										      <div th:each="unlinkedCombo: ${unlinkedCombos}" class="row" style="font-size: 13px">
											     <div class=""> 
												    <input type="checkbox" th:field="*{comboListPre}" th:value="${unlinkedCombo.id}" 
												    	   th:checked="${#lists.contains(doctor.comboListPre, unlinkedCombo)}"> 
												 </div>
												 <div class="mx-2"> 
												    <label th:if="${p1}==${unlinkedCombo.procedureList.get(0).procedure.name}"  th:for="${#ids.prev('comboListPre')}" 
												    	   th:text="${unlinkedCombo.procedureList.get(1).procedure.name}"></label>
												    <label th:unless="${p1}==${unlinkedCombo.procedureList.get(0).procedure.name}"  th:for="${#ids.prev('comboListPre')}"
												    	   th:text="${unlinkedCombo.procedureList.get(0).procedure.name}"></label>
										 		 </div>
										      </div>
										   </div>	
										</div>
									</div>
								</div>
							</div>
<!-- 					 SUBMIT   -->
							<div class="row pt-3">
			  					<div class="col mt-3" align="right">  
	  								<input type="submit" th:value="${bSave}" class="btn btn-block btn-305"/>
	  							</div>
			  				</div> 
							<div class="row mt-4">
								<div class="col-3">
									<a th:href="@{/doctor/add-procedure/} + ${doctor.id}" th:text="${bAddProcedure}" class="btn btn-block btn-secondary"></a>	
								</div>
								<div class="col-3">
									<a th:href="@{/doctor/add-condition/} + ${doctor.id}" th:text="${bAddCondition}" class="btn  btn-block btn-secondary"></a>	
								</div>
								<div class="col-6">
									<a th:href="@{/doctor/list}" th:text="${bContinue}" class="btn  btn-block btn-dark"></a>		
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout-doctor :: footer"></footer>
    <script th:replace="doctor/js/utils-js.html :: utils"></script>
    <script th:replace="js/twoForm :: javascript2Form"></script>
</body>
</html>