<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
   <head th:replace="layout/layout-doctor :: head"></head>
   <body>
		<header th:replace="layout/layout-doctor :: header"></header>
      		<div class="container mb-4" style="margin-top: 5rem" align="center">
      			<div class="card bg-white border-305" >
            		<div th:text="${tittle} + ${doctor.name}" class="card-header border-305 py-1 text-white font-weight-bold" style="background-color: #101F3A" 
            			 align="center"></div>
            		<div class="card-body">
		            	<div class="row">
		                  	<div class="col" align="right">
		                      	<a sec:authorize="hasRole('ROLE_ADMIN')" data-toggle="tooltip" data-placement="left" 
		                      	   th:href="@{/doctor/add-combo/} + ${doctor.id}" title="Add combo to surgeon">
		                      		<span class="a a-305 fas fa-window-restore fa-2x"></span>  
		                      		<span class="a a-305 fas fa-long-arrow-alt-right"></span>  
		                      		<span class="a a-305 fas fas fa-user-md fa-2x"></span>  
		                      	</a>
		                  	</div>
		               	</div>
		               	<div class="row py-3">
		               		<div class="col-12">
		               			<table th:unless="${#lists.isEmpty(doctor.comboList)}"  id="combo-table-list"  
		                    		   class="table table-striped hover display compact" style="font-size: 12px">
<!-- 		                     			table-bordered -->
		                        	<thead align="center">
			                           <tr>
			                              <th th:text="'Procedures'" scope="col" class="align-middle" align="center"></th>
			                              <th th:each="p: ${procedures}" th:text="${p.name}" scope="col" class="align-middle" align="center"></th>
		                	           </tr>
		                    	    </thead>
		                    	    <tbody>
		                        		<tr th:each="row: ${combos}">
								       		<td th:each="value: ${row}" class="align-middle" align="center">
								       			<a sec:authorize="hasRole('ROLE_ADMIN')" th:if="${value[0]} != '(' and ${value} != 'n' and ${value} != 'x'" 
								       			   th:href="'/doctor/delete-combo/' + ${value} + '/' + ${doctor.id}" type="button" class="btn fas fa-eraser"
		                                	   	   onclick="return confirm('Do you want to unlink this combo from this Surgeon?');"></a>
		                                	   	<span th:if="${value[0]}=='('" th:text="${value}"></span>   
		                                	   	<span th:if="${value[0]}=='x'" th:text="'N/A'" class="font-weight-bold" style="color: #ff0000"></span>   
								       			
								       			<span sec:authorize="hasRole('ROLE_USER') and not hasRole('ROLE_ADMIN')" 
								       			      th:if="${value[0]} != '(' and ${value} != 'n' and ${value} != 'x'" class="fas fa-check"></span>
								       		</td>
		                           		</tr>
		                        	</tbody>
		                     	</table>
		                     	<div th:if="${#lists.isEmpty(doctor.comboList)}" class="row">
		                     		<div class="col" align="center">
										<span class="far fa-folder-open fa-10x"></span>
		                     		</div>
		                  		</div>
		               		</div>   
		            	</div>
       				</div>
     			</div>
     		</div>
      <footer th:replace="layout/layout-doctor :: footer"></footer>
      <script th:src="@{/js/jquery.dataTables.min.js}"></script>
      <script th:replace="doctor/js/utils-js.html :: utils"></script>
   </body>
</html>