<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-client :: head"></head>
<body style="font-size: 15px">
	<header th:replace="layout/layout-client :: header"></header>
      <div class="container py-1" >
		<div class="row py-4">
	   		<div class="col-3"> <!-- GroupBox de las elecciones -->
				<ul th:if="${choices}" class="list-group border-success">
					<li th:text="${choice_h}" class="list-group-item list-group-item-success border-success text-center font-weight-bold"></li>
					<li th:each="c: ${choices}" th:text="${c}" class="list-group-item text-left border-success"></li>
				</ul>
		 	</div> 
		 	<div class="col-9"> <!-- GroupBox para las listas de medicos y procedimientos -->
				<div class="card bg-white border-305">
					<form id="f1"  th:object="${client}" method="get">
						<div th:text="${cardHeader}" class="card-header font-weight-bold text-white" align="center" style="background-color:#0F3678"></div>
						<div class="card-body" align="justify">
							<div class="row">
								<div class="col-9"> <!-- GroupBox para los botones con los procedimientos -->
									<div class="card bg-white text-305 border-305">
										<div th:text="${procedurelisth}" class="text-white card-header font-weight-bold" style="background-color:#0F3678" align="center"></div>
										<div class="card-body" align="right">
											<div class="container proceduresb">
												<a th:each="p: ${procedurelist}" class="btn btn-block btn-305"
  										  		   th:href="@{/choice_doctor_by_procedure/} + ${p.getId()}"
				   				  			       th:text="${p.getName()}"></a>	
											</div>
										</div>
									</div>
								</div>
								<div class="col-3"> <!-- GroupBox para las listas de medicos -->
									<div class="card text-305 bg-white border-305">
										<div th:text="${doctorlisth}" class="card-header border-305 font-weight-bold" align="center" ></div>
										<div class="card-body" align="left">
											<div class="container">
										   		<h4 th:unless="${doctorlist}" th:text="${doctorlistempty}" align="center" 
                                                    style="font-size: 18px"></h4>
										   	</div>
											<div th:each="d: ${doctorlist}" class="row" style="font-size: 14px">
												<div class="my-2"> 
													<input type="radio" th:field="*{doctor}" th:value="${d.getId()}">
												</div>
												<div class="mx-1 my-2">
													<label th:for="${#ids.prev('doctor')}" th:text="${d.getName()} + ${d.getShortDate()}"></label>
												</div>
											</div>
										</div>
									</div>
								</div>
		 					</div>
							<hr/>
							<div class="row">
								<div class="col-6">   
									<input type="button" value="Choice procedure for combo" class="btn btn-block text-white" style="background-color:#0F3678;"
								           onClick="actionForm(this.form.id, '/choice-combo-by-p1-by-doctor'); return false;"/>
	  							</div>
	  							<div class="col-6">
	  								<input type="button" value="Go to summary" class="btn btn-block btn-305"
								           onClick="actionForm(this.form.id, '/result'); return false;" />
	  							</div>
	  						</div>
						</div>
					</form>
				</div>
	  	   	</div>
	   	</div>
         </div>
	<footer th:replace="layout/layout-client :: footer"></footer>
	<script
		th:replace="js/twoForm :: javascript2Form">
	</script>
</body>
</html>