<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4" >
	  <div class="row">
	      <div class="col">
			<ul th:if="${eleccionestemp}" class="list-group">
				<li th:unless="${eleccionestemp.isEmpty()}" th:text="'Respuesta al cuestionario'" class="list-group-item list-group-item-success text-center font-weight-bold"></li>
				<li th:each="r: ${eleccionestemp}" th:text="${r}" class="list-group-item text-left"></li>
			</ul>
<!-- 		<div th:unless="${eleccionestemp}">
				<img th:src="@{/imgs/305 copi a.png}" alt="logo" class="rounded mx-auto d-block float-righ">
			</div>
			<div th:if="${eleccionestemp}">
				<div th:if="${eleccionestemp.isEmpty()}">
					<img th:src="@{/imgs/305 cop ia.png}" alt="logo" class="rounded mx-auto d-block float-righ">
				</div>
			</div>  -->
	      </div> 
	  	  <div class="col-11">
			<div class="card bg-light" >
				<div th:text="${msg}" class="card-header font-weight-bold" align="center"></div>
				<div class="card-body" align="left">
					<form th:action="@{/r1}" method="post" class="form-inline" th:object="${client}">
						<div class="container my-2">
							<div class="row">
								<div class="col-sm">
									<ul class="list-group my-1">
										<li th:text="${text2client}" class="list-group-item active bg-info text-center font-weight-bold"></li>
										<li class="list-group-item">
											<div class="container newspaper1">
												<div th:each="s: ${sList}" class="row">
													<div class="mx-2 my-2"> 
														<input type="checkbox" th:field="*{conditionsList}" th:value="${s.id}"
															    th:checked="${#lists.contains(client.conditionsList, s)}"> 
													</div>
													<div class="mx-2 my-2"> 
														<label th:for="${#ids.prev('conditionsList')}" th:text="${s.name}"></label>
													</div>
												</div>	
										<!--		<div th:each="s: ${sList}" class="row">
													<div class="mx-3 my-2"> 
														<input type="radio" th:field="*{suffering}" th:value="${s.getId()}">
													</div>
													<div class="mx-2 my-2">
														<label th:for="${#ids.prev('suffering')}" th:text="${s.getName()}"></label>
													</div>
												</div>-->
											</div>
										</li><!--
										<li th:text="'Explicación: '+ ${attribute.getBecause()}" class="list-group-item list-group-item-info font-italic">
											<input type="hidden" th:text=${namev}>
										</li>-->
										<li class="list-group-item">
											<input type="submit" value="Continue..." class="btn btn-lg btn-block btn-outline-success"> 
										</li>
									</ul>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
	  	  </div>
	  </div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>