<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-procedure :: head"></head>
<body>
	<header th:replace="layout/layout-procedure :: header"></header>
	<div class="container" style="margin-top: 5rem" align="center">
		<div class="card bg-white border-305" style="width: 70%;">
			<div class="card-header border-305 font-weight-bold text-white" th:text="${msg}" align="center" style="background-color:#101F3A"></div>
			<div class="card-body " align="left">
            
				<form id="newuser" th:object="${user305}" th:action="@{/users305/form}" method="post">
					
					<div class="form-group row">
						<div class="col-6">
							<div class="card bg-white card-border-diferent">
								<div th:text="'Personal data'" class="card-header font-weight-bold text-white" align="center" style="background-color:#101F3A"></div>
								<div class="card-body" align="justify">
									<div class="row">
									<!-- NOMBRE -->
										<div class="input-group mb-1 col">
											<div class="input-group-prepend ">
										    	<span class="input-group-text" id="name">Name:</span>
										  	</div>
										  	<input type="text" id="name" th:field="*{name}" 
										  		   aria-label="name" class="form-control" aria-describedby="name" placeholder="Name" 
										  		   th:errorclass="'form-control alert-danger'" />
											<small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text text-danger"></small>
										</div>
									</div>
									<div class="row">
										<!-- LastName -->
										<div class="input-group mt-2 col">
											<div class="input-group-prepend ">
										    	<span class="input-group-text" id="recovery">Last name:</span>
										  	</div>
										  	<input type="text" id="lastname" th:field="*{lastname}" 
										  		   aria-label="lastname" class="form-control" aria-describedby="lastname" placeholder="Lastname" 
										  		   th:errorclass="'form-control alert-danger'" />
											<small th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="form-text text-danger"></small>
										</div>
									</div>
								</div>
							</div>	
						</div>
						<div class="col-6">
							<div class="card bg-white card-border-diferent">
								<div th:text="'Login data'" class="card-header font-weight-bold text-white" align="center" style="background-color:#101F3A"></div>
								<div class="card-body" align="justify">
									<div class="row">
									<!-- Username -->
										<div class="input-group mb-1 col">
											<div class="input-group-prepend">
										    	<span class="input-group-text" id="name">Username:</span>
										  	</div>
										  	<input type="text" id="username" th:field="*{username}" 
										  		   aria-label="username" class="form-control" aria-describedby="username" placeholder="Username" 
										  		   th:errorclass="'form-control alert-danger'" />
											<small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="form-text text-danger"></small>
										</div>
									</div>	
<!-- 							pwd -->
									<div class="row">
										<div class="input-group mt-2 col">
											<div class="input-group-prepend ">
										    	<span class="input-group-text" id="recovery">Password:</span>
										  	</div>
										  	<input type="password" id="password" th:field="*{password}" 
										  		   aria-label="password" class="form-control" aria-describedby="password" placeholder="Password" 
										  		   th:errorclass="'form-control alert-danger'" />
											<small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form-text text-danger"></small>
										</div>
									</div>
								</div>
							</div>
						</div>			
					</div>
					<div class="form-group form-check row px-4 mb-4" align="right">
<!-- 					admin? -->
						<input type="checkbox" th:field="*{admin}" th:value="False" class="form-check-input ml-1"/>
						<label th:for="${#ids.prev('admin')}" th:text="'Is administrator?'" class="form-check-label ml-4"></label>
					</div>
                    
<!-- 					 SUBMIT   -->
					<div class="row">
	  					<div class="col-12" align="right">  
	  						<input type="submit" th:value="${buttonUser}" class="btn  btn-block btn-305"/>
	  					</div>
	  				</div> 
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout-procedure :: footer"></footer>
      <script th:replace="procedure/js/util-js.html :: util"></script>
</body>
</html>