<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-evaluation :: head"></head>
<!-- <link href="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css" rel="stylesheet"/>  -->
<body style="font-size: 15px; background-color: #4C576C">
	<header th:replace="layout/layout-evaluation :: header"></header>
   <div class="container" style="margin-top: 4rem">
		<div class="col" align="right">
			<button type="button" class="btn fas fa-info-circle fa-3x" data-toggle="popover" th:title="${productTexth}" data-placement="left"
					th:data-content="${productText}" style="color: #ffffff;"></button>
		</div>
		<p hidden="true" th:text="${totalProcedureCashPrice}" id="procedurep"></p>
		
		<form th:id="f2" th:action="@{/orders/order-form}" th:object="${superOrder}" method="post">
		<!-- CIRUGÍAS -->
			<div class="ml-1 row">
				<div class="col pb-2">
					<ul class="list-group col" >
						<li class="list-group-item py-2 list-group-item text-left font-weight-bold" 
							style="background-color:#101F3A; color:#ffffff; border-color: #101F3A; border-right-width: 4px; border-bottom-width: 2px; 
							       border-radius: 15px 15px 0 0;">
                        	<span th:text="'($'"></span>
							<span th:text="${totalProcedureCashPrice}" id="totalp_h"></span> 
							<span th:text="') - '"></span>
							<span th:text="${procedureHeader}" class="font-weight-bold"></span>           
                        </li>
						<li class="list-group-item text-left border-305" style="border-radius: 0 0 0px 0px; border-right-width: 4px; border-bottom-width: 4px;">
							<div class="form-group row">
								<div class="input-group mb-1 col-3">
									<div class="input-group-prepend ">
									   	<span class="input-group-text" id="lname">Pay method:</span>
									</div>
									<select th:unless="${hasPromo}" id="type" class="form-control col" name="payM"  
											th:onchange="'itemsHelper.totalProcSelect(' + ${totalProcedureCashPrice} + ',' 
											                                            + ${totalProcedureFinancedPrice} + ',' 
											                                            + ${totalProcedureCashPrice} + ',' 
											                                            + this.value + ');'">          
										<option th:each="t: ${payMethods}" th:unless="${t.getMethod()} == 'VIP'" th:text="${t.getMethod()}" 
										        th:value="${t}" th:field="*{lastOrder.payMethod}"></option>
									</select>                  														
									<select th:if="${hasPromo}" id="type" class="form-control col" name="payM"  
											th:onchange="'itemsHelper.totalProcSelect(' + ${totalProcedureCashPrice} + ',' 
											                                            + ${totalProcedureFinancedPrice} + ',' 
											                                            + ${totalProcedureVIPTotalPrice} + ',' 
											                                            + this.value + ');'">          
										<option th:each="t: ${payMethods}" th:text="${t.getMethod()}" th:value="${t}" th:field="*{lastOrder.payMethod}"></option>
									</select>                  														
								</div>
								<div class="col" align="right">
									<span>Ver ofertas del doctor</span>
								</div>
							</div>
							<table class="table table-sm table-striped table-hover">
							   <thead>
							      <tr align="center">
								     <th width="40%" th:text="'Surgery'" ></th>
									 <th width="15%" th:text="'Price Cash'"></th>
									 <th width="15%" th:text="'Price Financed'"></th>
							 		 <th th:if="${hasPromo}" width="15%" th:text="'Price VIP'"></th>
									 <th th:if="${hasPromo}" width="15%" id="vipH" th:text="'Deals apply To'" hidden="true"></th> <!--   -->
								  </tr>
							    </thead>
								<tbody>
							   		<tr th:each="pdata: ${proceduresData}">
							   		    <!-- Surgery -->
										<td th:text="${pdata.name}" class="align-middle"></td>
										<!-- Cash -->
										<td align="center" class="align-middle">
											<span th:id="p1pc" th:text="${pdata.priceCash}"></span>
									 	</td>
									 	<!-- Financed -->
										<td align="center" class="align-middle">
											<span th:id="p1pf" th:text="${pdata.priceFinanced}"></span>
										</td>
										<!-- VIP -->
										<td th:if="${hasPromo}" align="center" class="align-middle">
											<span th:id="p1pv" th:text="${pdata.priceVIP}"></span>
										</td>
										<!-- VIP Type --> 
										<td th:if="${hasPromo}" id="vipB" th:switch="${pdata.promoCount}" hidden="true">
								  			<select th:case="1" th:id="'type_' + ${pdata.pId}" class="form-control col" name="promoTo">
												<option th:text="'Procedure'" th:value="'0'" th:field="*{lastOrder.promoTo}"></option>
											</select>
								  			<select th:case="2" th:id="'type_' + ${pdata.pId}" class="form-control col" name="promoTo"
													th:onchange="'itemsHelper.discountProcOrItemSelect(' + ${totalProcedureCashPrice} + ',' 
											                       			                		     + ${totalProcedureVIPTotalPrice} + ',' 
											                                                   			 + this.value + ');'">    		
												<option th:text="'Procedure'" th:value="'0'" th:field="*{lastOrder.promoTo}"></option>
												<option th:text="'Item'" th:value="'1'" th:field="*{lastOrder.promoTo}"></option>
											</select>
										</td>
								   </tr>								
								</tbody>
							</table>
							<hr style="background-color:#101F3A;"/>
							<h5 align="right">Total surgeries: <span class="badge badge-warning" id="totalp" th:text="${totalProcedureCashPrice}"></span></h5>	
						</li>
					</ul>
				</div>
			</div>
			<div class="row ml-1">
				<!-- TODOS LOS ÍTEMS -->
				<div class="col-6 pb-3"> 
				<!-- OBLIGATORIOS - RECOMENDADOS - OTROS -->
					<div class="row mb-1">
					<!-- GroupBox de las productos sugeridos en dependencia del Procedimiento -->	
						<ul class="list-group col">  
							<li th:text="${recommendedItemStrHeader}" class="list-group-item py-2 list-group-item text-left font-weight-bold" 
								style="background-color:#101F3A; color:#ffffff; border-color: #101F3A; border-right-width: 2px; border-bottom-width: 2px;
	                                   border-radius: 15px 15px 0 0;"></li>
							<li class="list-group-item text-left border-305" style="border-radius: 0 0 0px 0px; border-right-width: 2px; border-bottom-width: 1px;">
								<table class="table table-sm table-striped table-hover">
									<thead>
										<tr align="center">
											<th width="60%" th:text="'Description'"></th>
											<th width="40%" th:text="'Recommended amount'"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="p: ${recommendedItemList}">
											<td th:text="${p.product.getName()}" class="align-middle"></td>
											<td th:text="${p.amountRecommended}" class="align-middle" align="center"></td>
										</tr>
									</tbody>
								</table>	
							</li>
						</ul>	
					</div>
					<div class="row mb-1">
						<!-- GroupBox del resto de los productos -->
						<ul class="list-group col">
							<li th:text="'Other items'" class="list-group-item list-group-item-info py-2 text-left font-weight-bold" 
								style="background-color:#101F3A; color:#ffffff; border-color: #101F3A; border-right-width: 2px; border-bottom-width: 2px;
	                                   border-radius: 15px 15px 0 0;"></li>
							<li class="list-group-item text-left border-305" style="border-radius: 0 0 0 0; border-right-width: 2px; border-bottom-width: 1px;">
								<table class="table table-sm table-striped table-hover">
									<thead>
										<tr align="center">
											<th width="30%" th:text="'Description'" ></th>
											<th width="70%" th:text="'Remark'"></th>
										</tr>
									</thead>
									<tbody >
										<tr th:each="p: ${restItemList}">
											<td th:text="${p.name}" class="align-middle"></td>
											<td th:text="${p.tips}" class="align-middle" align="center"></td>
										</tr>
									</tbody>
								</table>	
							</li>
						</ul>		
					</div>
				</div>
				<div class="col-6 pb-3"> 
				<!-- FREE - ELEGIDOS - OBSERVACIONES -->
<!-- 					<div class="row mb-1"> -->
<!-- 						GroupBox de las productos obligatorios en dependencia del Procedimiento -->
<!-- 						<ul class="list-group col">  -->
<!-- 							<li class="list-group-item py-2 list-group-item text-left font-weight-bold"  -->
<!-- 								style="background-color:#101F3A; color:#ffffff; border-color: #101F3A; border-right-width: 2px; border-bottom-width: 2px; border-radius: 15px 15px 0 0;"> -->
<!-- 	                        	<span th:text="'($'" class="font-weight-bold"></span> -->
<!-- 								<span id="totalm_h" class="font-weight-bold">0</span>  -->
<!-- 	                            <span th:text="') - '" class="font-weight-bold"></span> -->
<!-- 								<span th:text="${mandatoryItemHeader}" class="font-weight-bold"></span> -->
<!-- 	                        </li> -->
<!-- 							<li class="list-group-item text-left border-305" style="border-radius: 0 0 0px 0px; border-right-width: 2px; border-bottom-width: 1px;"> -->
<!-- 								<table class="table table-sm table-striped table-hover"> -->
<!-- 								   <thead> -->
<!-- 								      <tr align="center"> -->
<!-- 								         <th width="50%" th:text="'Description'" ></th> -->
<!-- 									     <th width="30%" th:text="'Price'"></th> -->
<!-- 									     <th width="10%" th:text="'Amount'"></th> -->
<!-- 									     <th width="10%" th:text="'Subtotal'"></th> -->
<!-- 						 		     </tr> -->
<!-- 								   </thead> -->
<!-- 								   <tbody> -->
<!-- 								      <tr th:each="mi: ${mandatoryItemList}"> -->
<!-- 									     <td class="d-none"> -->
<!-- 										    <input type="hidden" th:value="${mi.id}" name="item_id_m[]" />     ID para guardar -->
<!-- 										 </td> -->
<!-- 										 <td th:text="${mi.name}" class="align-middle"></td> Nombre -->
<!-- 										 <td th:text="${mi.price}" th:id="'p_' + ${mi.id}" class="align-middle" align="center"></td>  Precio -->
<!-- 										 <td class="align-middle">   Cantidad                    -->
<!-- 										    <input th:if="${mi.isHasAmount()}" value="1" type="number" class="form-control" min="0"   -->
<!-- 											       th:id="'amountm_'+${mi.id}"  name="amount_m[]" -->
<!-- 											   	   th:onchange="'itemsHelper.getSubtotalM(' + ${mi.id} +', parseInt($(p_' + ${mi.id} + ').text()), this.value);'" /> -->
<!-- 											<input th:unless="${mi.isHasAmount()}" value="1" type="text" class="form-control" readonly="readonly" -->
<!-- 											       th:id="'amountm_'+${mi.id}"  name="amount_m[]" -->
<!-- 								   				   th:onchange="'itemsHelper.getSubtotalM(' + ${mi.id} +', parseInt($(p_' + ${mi.id} + ').text()), this.value);'" /> -->
<!-- 										 </td> -->
<!-- 										 <td align="center" class="align-middle"> -->
<!-- 										    <span th:id="'subtotalm_'+${mi.id}" th:text='${mi.price}'></span> -->
<!-- 										 </td> -->
<!-- 									  </tr>								 -->
<!-- 									  <tr th:each="mi: ${mandatoryAndIncludedItemList}"> -->
<!-- 									     <td class="d-none"> -->
<!-- 										    <input type="hidden" th:value="${mi.id}" name="item_id_mi[]" />     ID para guardar -->
<!-- 										 </td> -->
<!-- 										 <td th:text="${mi.name}" class="align-middle"></td>    Nombre -->
<!-- 										 <td th:text="${mi.tips}" class="align-middle" align="center"></td> Remark -->
<!-- 										 <td align="center" class="align-middle"> -->
<!-- 										    <input value="1" type="text" class="form-control" readonly="readonly" /> -->
<!-- 							 			 </td> Cantidad -->
<!-- 										 <td th:text="'0'" class="align-middle" align="center"></td>      Precio -->
<!-- 											</tr> -->
<!-- 								   </tbody> -->
<!-- 								</table> -->
<!-- 								<hr style="background-color:#101F3A"/> -->
<!-- 								<h5 align="right">Total mandatory: <span class="badge badge-warning" id="totalm">0</span></h5> -->
<!-- 							</li> -->
<!-- 						</ul>	 -->
<!-- 					</div> -->
					<div th:if="${not #lists.isEmpty(freeItemList)}" class="row mb-1">
				    <!-- GroupBox de los productos Free --> 
						<ul class="list-group col">
							<li th:text="${freeItemHeader}" class="list-group-item py-2 list-group-item text-left font-weight-bold" 
								style="background-color:#101F3A; color:#ffffff; border-color: #101F3A; border-right-width: 2px; border-bottom-width: 2px;
	                                   border-radius: 15px 15px 0 0;"></li>
							<li class="list-group-item text-left border-305" style="border-radius: 0 0 0px 0px; border-right-width: 2px; border-bottom-width: 1px;">
								<table class="table table-sm table-striped table-hover">
									<thead>
										<tr align="center">
											<th width="60%" th:text="'Description'"></th>
											<th width="40%" th:text="'Free amount'"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="p: ${freeItemList}">
											<td th:text="${p.productName}" class="align-middle"></td>
											<td th:text="${p.amountRecommended}" class="align-middle" align="center"></td>
										</tr>
									</tbody>
								</table>	
							</li>
						</ul>
					</div>
					<div class="row mb-1">
<!-- 					GroupBox de los elegidos -->
						<ul class="list-group col">
							<li class="list-group-item list-group-item-info py-2 text-left font-weight-bold" 
								style="background-color:#101F3A; color:#ffffff; border-color: #101F3A; border-right-width: 2px; border-bottom-width: 2px;
									   border-radius: 15px 15px 0 0;">
	                         	<span th:text="'($'" class="font-weight-bold"></span>
							    <span id="totalc_h" class="font-weight-bold">0</span> 
	                            <span th:text="') - '" class="font-weight-bold"></span> 
								<span th:text="'Choose items'" class="font-weight-bold"></span>
	                         </li>
							<li class="list-group-item text-left border-305" style="border-radius: 0 0 0 0; border-right-width: 2px; border-bottom-width: 1px;">
								<div class="form-group row">
							       <label th:text="'Find product: '" for="find_product" class="col-form-label col-sm-4 font-weight-bold"></label>
								   <div class="col"> 
	                                    <input type="text" name="find_product" id="find_product" class="form-control" />
	                               </div>
							    </div>
								<table th:replace="orders/items-layout :: orderItems" style="font-size: 13px"></table>  
								<table id="loadProductItems" class="table table-sm table-striped table-hover">
									<thead>
										<tr>
											<th width="65%" th:text="'Description'"></th>
											<th width="9%" th:text="'Price'"></th>
											<th width="8%" th:text="'Amount'"></th>
											<th width="8%" th:text="'Subtotal'"></th>
											<th width="10%" th:text="'Delete'"></th>
										</tr>
									 </thead>
								     <tbody></tbody>
								  </table>
								  <h5 align="right">Total choosed: <span id="totalc" class="badge badge-warning">0</span></h5>
							</li>
						</ul>
					</div>
					<div class="row mb-1">
				  		<ul class="list-group col">
							<li class="list-group-item list-group-item-info py-2 text-left font-weight-bold" 
								style="background-color:#101F3A; color:#ffffff; border-color: #101F3A; border-right-width: 2px; border-bottom-width: 2px; border-radius: 15px 15px 0 0;">
	                         	<span th:text="'Observations'"></span>
	                         </li>
							<li class="list-group-item text-left border-305" style="border-radius: 0 0 0 0; border-right-width: 2px; border-bottom-width: 0px;">
								<div class="form-group row">
							    	<label th:text="'Observations: '" for="observation" class="col-form-label col-sm-3 font-weight-bold" style="font-size: 13px"></label>
								    	<div class="col">
									   		<textarea id="observation" th:field="*{lastOrder.observation}" class="form-control" rows="6" 
											  	      th:errorclass="'form-control alert-danger'" style="font-size: 13px"></textarea>
									    	<small th:if="${#fields.hasErrors('observation')}" th:errors="*{lastOrder.observation}" class="form-text text-danger"></small>
										</div>
							  	</div>
							</li>
							<li th:if="${vipObj}" class="list-group-item text-left border-305" style="border-radius: 0 0 0 0; border-right-width: 2px; border-bottom-width: 1px;">
								<h5 align="right">VIP price: <span id="vipPrice" class="badge badge-warning" th:text="${vipObj.priceForVIP}"></span></h5>
							</li>
							<li th:unless="${vipObj}" hidden="hidden" class="list-group-item text-left border-305" style="border-radius: 0 0 0 0; border-right-width: 2px; border-bottom-width: 1px;">
								<h5 align="right">VIP price: <span id="vipPrice" class="badge badge-warning" th:text="0"></span></h5>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
               	<div class="col" align="right">
                   	<hr>
                   	<div class="row">
                       	<div class="col" align="right">
                       		<h5 align="right">Total order:<span class="badge badge-success" id="total">0</span></h5>
                       	</div>
                   	</div>
                   	<div class="row">   
                   		<div class="col py-4">
                       		<input type="submit" th:value="'View summary'" class="btn btn-lg btn-block btn-305" />
                       	</div>
                   	</div>   
               	</div>
			</div>
		</form>
      </div>
	<footer th:replace="layout/layout-evaluation :: footer"></footer>
	<script th:replace="orders/js/products-autocomplete :: javascriptAutoComplete"></script>
</body>
</html>