<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
   <head th:replace="layout/layout-doctor :: head">
   
   </head>
   <body>
      <header th:replace="layout/layout-doctor :: header"></header>
      <div class="container mb-4" style="margin-top: 5rem">
         <div class="card bg-white border-305">
            <div th:text="${tittle}" class="card-header py-2 border-305 text-white font-weight-bold" style="background-color: #101F3A" align="center"></div>
            <div class="card-body">
               <div class="row">
                  <div class="col" align="right">
                      <a sec:authorize="hasRole('ROLE_ADMIN')"  class="a a-305 fas fa-user-md fa-3x" data-toggle="tooltip" data-placement="left" 
                      	 th:href="@{/doctor/form/}" title="New Surgeon">  </a>
                  </div>
               </div>
               <div class="row py-3">
                  <div class="col">
                     <table class="table table-striped  hover display compact" style="font-size: 14px" id="doctor-table-list">
                     <!-- table-bordered -->
                        <thead align="center">
                           <tr>
                              <th width="20%" th:text="'Name'" scope="col" class="align-middle" align="center"></th>
                              <th width="12%" th:text="'Available date'" scope="col" class="align-middle" align="center"></th>
<!--                          <th width="12%" th:text="'Procedures with combos'" scope="col" class="align-middle" align="center"></th>  -->
                              <th width="12%" th:text="'Details'" scope="col" class="align-middle" align="center"></th> 
                              <th width="12%" th:text="'Admin procedures'" sec:authorize="hasRole('ROLE_ADMIN')" scope="col" class="align-middle" align="center"></th> 
                              <th width="12%" th:text="'Admin combos'" sec:authorize="hasRole('ROLE_ADMIN')" scope="col" class="align-middle" align="center"></th> 
                              <th width="12%" th:text="'Admin conditions'" sec:authorize="hasRole('ROLE_ADMIN')" scope="col" class="align-middle" align="center"></th> 
                              <th width="10%" th:text="Edit" sec:authorize="hasRole('ROLE_ADMIN')" scope="col" class="align-middle" align="center"></th>
                              <th width="10%" th:text="Remove" sec:authorize="hasRole('ROLE_ADMIN')" scope="col" class="align-middle" align="center"></th>
                           </tr>
                        </thead>
						<tbody>
                        	<tr th:each="d: ${doctor_list}">
<!-- Name -->      				<td th:text="${d.name}" align="justify"></td>
 <!-- Available date -->    	<td  align="center">
 									<a th:href="@{/doctor/change-date/} + ${d.id}" th:text="${d.date}" style="color: #000"></a>
 								</td>
<!-- <!-- Procedures & combos   	<td align="center"> -->
<!-- 									<a th:href="@{/doctor/list/} + ${d.id}" class="fas fa-window-restore" style="color: #000"></a>  -->
<!-- 								</td> -->
<!-- Details -->  				<td align="center"> 
									<a th:href="@{/doctor/view/} + ${d.id}" class="a a-305 fas fa-search" style="color: #000"></a> 
								</td>
<!-- Admin procedures -->  		<td sec:authorize="hasRole('ROLE_ADMIN')" align="center"> 
									<a th:href="@{/doctor/admin-procedure/} + ${d.id}" class="fas fa-window-maximize" style="color: #000"></a> 
								</td>
<!-- Admin Combos -->  		<td sec:authorize="hasRole('ROLE_ADMIN')" align="center"> 
									<a th:href="@{/doctor/admin-combo/} + ${d.id}" class="fas fa-object-group" style="color: #000"></a> 
								</td>
<!-- Admin conditions -->  		<td sec:authorize="hasRole('ROLE_ADMIN')" align="center"> 
									<a th:href="@{/doctor/admin-condition/} + ${d.id}" class="fas fa-notes-medical" style="color: #000"></a> 
								</td>
<!-- Edit -->					<td sec:authorize="hasRole('ROLE_ADMIN')" align="center">
                                	<a th:href="@{/doctor/edit/} + ${d.id}" class="a a-305 fas fa-pencil-alt" style="color: #000"></a>
                              	</td>
<!-- Remove -->					<td sec:authorize="hasRole('ROLE_ADMIN')" align="center">
                                	<a th:href="'/doctor/delete/' + ${d.id}" onclick="return confirm('Do you want remove this Surgeon?');" type="button" 
                                	   class="btn fas fa-eraser"></a> 
                              	</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>   
               <!-- Lista de procedimientos del Doctor -->
<!-- 				<div th:if="${proceduresCombos} and ${not #lists.isEmpty(proceduresCombos.keySet())}" class="container"> -->
<!--                 	<span th:text="' List of the ' + ${#lists.size(proceduresCombos.keySet())} + ' procedures that make the Dr. &quot' + ${doctor.name}  + '&quot with its combos.'"  -->
<!--                           style="color: #101F3A; font-weight: bold; text-decoration: underline;"> -->
<!--                     </span>  -->
<!--                   	<a sec:authorize="hasRole('ROLE_ADMIN')"  -->
<!--                   	   th:href="@{/doctor/add-procedure/} + ${doctor.id}" th:text="${'Add other procedure'}"  -->
<!--                   	   title="Click to add procedure" data-toggle="tooltip" data-placement="left" style="color:#101F3A; text-decoration: underline;">  -->
<!--                     </a>        -->
<!--                INICIO DEL ACORDEON -->
<!--                 	<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true" align="center"> -->
<!--                     	<div class="col-9" align="right"> -->
<!--                         Accordion card 1 -->
<!--                         	<div th:each="pc: ${proceduresCombos.keySet()}" class="card my-1" style="border-color: #101F3A; border-right-width: 3px">   -->
<!--                             Card header                                                           -->
<!--                             	<div class="card-header" style="background-color:#fff; border-color: #101F3A; border-bottom-width: 3px" role="tab" -->
<!--                                      th:id="'heading' + ${pc.id}">                                 -->
<!--                                  	<a data-toggle="collapse" style="color:#101F3A;" data-parent="#accordionEx" aria-expanded="false" class=" fas fa-angle-down rotate-icon"  -->
<!--                                        th:href="'#collapse' + ${pc.id}" th:aria-controls="'collapse' + ${pc.id}" > -->
<!--                                        <span th:text="${pc.name}" class="text-center font-weight-bold" style="font-family:sans-serif; font-size: 14px; color:#101F3A;"></span> -->
<!--                                        <span th:text="' - Combo with: (' + ${proceduresCombos.get(pc).size()} + ')'" -->
<!--                                              style="font-family:sans-serif; font-size: 12px; font-weight:lighter; font-style:italic; color:#101F3A;"></span> -->
<!--                                  	</a> -->
<!--                              	</div> -->
<!--                            Card body   -->
<!--                               <div th:id="'collapse' + ${pc.id}" class="collapse" role="tabpanel" th:aria-labelledby="'heading' + ${pc.id}" data-parent="#accordionEx"> -->
<!--                                  <div class="card-body"> -->
<!--                                     <div class="row"> -->
<!--                                        <div class="col combos" align="right"> -->
<!--                                           <ul th:if="${proceduresCombos.get(pc)}" class=" border-success" > -->
<!--                                              <li th:each="c: ${proceduresCombos.get(pc)}" th:text="${c.name}" class="text-left border-success"></li> -->
<!--                                           </ul> -->
<!--                                        </div> -->
<!--                                     </div>    -->
<!--                                  </div> -->
<!--                               </div> -->
<!--                            </div>Accordion card 1 -->
<!--                      </div> -->
<!--                   	</div>FIN DEL ACORDEON -->
<!--                   	<div sec:authorize="hasRole('ROLE_ADMIN')" class="col" align="center"> -->
<!--                      	<a th:href="@{/doctor/add-procedure/} + ${doctor.id}"  -->
<!--                      	   th:text="${'Add other procedure'}" style="color:#101F3A; text-decoration: underline;" -->
<!--                      	   title="Click to add procedure" data-toggle="tooltip" data-placement="left"></a> -->
<!--                   	</div> -->
<!--                	</div> -->
<!--                	<div th:if="${proceduresCombos} and ${#lists.isEmpty(proceduresCombos.keySet())}"  -->
<!--                		 class="alert alert-dismissible fade show border-danger my-2" align="center" role="alert" style="background-color:#FFFFFF;"> -->
<!--                		<span th:text="'The Dr. &quot' + ${doctor.name} + '&quot has no procedures registered.'" style="color: #101F3A; font-weight: bold; "></span> -->
<!--                   	<a sec:authorize="hasRole('ROLE_ADMIN')"  -->
<!--                   	   th:href="@{/doctor/add-procedure/} + ${doctor.id}" th:text="${'Add a procedure'}" style="color:#101F3A; text-decoration: underline;"  -->
<!--                        title="Click to add a procedure" data-toggle="tooltip" data-placement="left"></a>      -->
<!--                     <button type="button" class="close" style="color:#101F3A" data-dismiss="alert" aria-label="Close"> -->
<!--                     	<span aria-hidden="true">&times;</span> -->
<!--                     </button> -->
<!--                	</div> -->
            </div>
         </div>
      </div>
      <footer th:replace="layout/layout-doctor :: footer"></footer>
      <script th:src="@{/js/jquery.dataTables.min.js}"></script>
      <script th:replace="doctor/js/utils-js.html :: utils"></script>
   </body>
</html>