<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
       <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
   <head th:replace="layout/layout-item :: head"></head>
   <body>
      <header th:replace="layout/layout-item :: header"></header>
      <div class="container mb-4" style="margin-top: 5rem">
         <div class="card bg-white border-305">
            <div th:text="${tittle}" class="card-header border-305 text-white font-weight-bold" style="background-color: #101F3A" align="center"></div>
            <div class="card-body">
               <div class="row">
                  <div sec:authorize="hasRole('ROLE_ADMIN')" class="col" align="right">
                      <a th:href="@{/product/form/}" data-toggle="tooltip" data-placement="left" title="New item" class="a a-305 fas fa-tag fa-2x">  </a>
                  </div>
               </div>
               <div class="row py-3">
                  <div class="col">
                     <table class="table table-striped hover display compact" style="font-size: 14px" id="product-table-list">
                     <!-- table-bordered -->
                        <thead align="center" >
                           <tr>
                              <th class="align-middle" th:text="'Name'"        scope="col"></th>
                              <th class="align-middle" th:text="'Price'"       scope="col"></th>
                              <th class="align-middle" th:text="'Has amount?'" scope="col"></th>
                              <th class="align-middle" th:text="'Remark'"      scope="col"></th>
                              <th class="align-middle" th:text="Details"       scope="col"></th>
                              <th class="align-middle" th:text="Edit" 		   scope="col" sec:authorize="hasRole('ROLE_ADMIN')" ></th>
                              <th class="align-middle" th:text="Remove" 	   scope="col" sec:authorize="hasRole('ROLE_ADMIN')" ></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr th:each="p: ${product_list}">
                              <td th:text="${p.name}" align="justify"></td>
                              <td th:text="${p.price}" align="right"></td>
                              <td th:if ="${p.hasAmount}" align="center">
                                 <span class="fas fa-check"></span>
                              </td>
                              <td th:unless ="${p.hasAmount}" align="center">
                                 <span></span> 
                              </td>
                              <td th:text="${p.tips}" align="justify"></td>
                           <!-- Detalles product -->
                              <td align="center">
                                 <a th:href="@{/product/view/} + ${p.id}" class="a a-305 fas fa-search" style="color: #000"></a>
                              </td>
                           <!-- Editar product -->
                              <td sec:authorize="hasRole('ROLE_ADMIN')" align="center">
                                 <a th:href="@{/product/form/} + ${p.id}" class="a a-305 fas fa-pencil-alt" style="color: #000"></a>
                              </td>
                           <!-- Eliminar product -->
                            <td sec:authorize="hasRole('ROLE_ADMIN')" align="center">
                              <a th:href="'/product/delete/' + ${p.id}" onclick="return confirm('Do you want remove this item?');" type="button" class="btn fas fa-eraser"></a> 
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>   
            </div>
         </div>
      </div>
      <footer th:replace="layout/layout-item :: footer"></footer>
  	  <script th:src="@{/js/jquery.dataTables.min.js}"></script>
      <script th:replace="product/js/util-i-js.html :: util"></script>
   </body>
</html>