<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<!-- <title th:text="${tittle}"></title> -->
<title th:text="'Login and go!'"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/font/font-awesome/css/font-awesome.min.css}" />

<link  rel="icon" th:href="@{/imgs/3051.png}" type="image/png" />
</head>

<body>
	<header th:fragment="header">
		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</header>
	<div class="container"></div>
	<footer th:fragment="footer" class="container">
<!--  		<hr />
		<img th:src="@{/imgs/spring.png}" alt="Spring-logo"
			class="rounded mx-auto d-block">   crossorigin="anonymous"-->
		<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
        <script th:src="@{/font/font-awesome/20311fce0d.js}" ></script>
	</footer>
</body>
</html>